# ===== GENERAL =====
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# ===== NODE / REACT =====
node_modules/
dist/
build/
.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== AWS / LAMBDA =====
*.zip
func.zip
function.zip

# ===== FIREBASE / SECRETS =====
google key
*.json
serviceAccountKey.json
*.pem
*.key

# ===== ANDROID / BUILD =====
*.aab
*.apk

# ===== IDE =====
.vscode/
.idea/

# ===== PYTHON (if used) =====
__pycache__/
*.pyc
*.pyo
*.pyd


# Terraform

**/.terraform/*

*.tfstate

*.tfstate.*

*.tfplan

tfplan

plan.txt

.terraform.lock.hcl for me to und

crash.log

crash.*.log

override.tf

override.tf.json

*_override.tf

*_override.tf.json

# Generated migration files

lambdas.json

log-groups.json

generated-lambda-module.txt

check-email-config.json

import-*.sh

lambda-zips/
infrastructure/moderation/packaged.yaml
infrastructure/moderation/__pycache__/

# Terraform local files

**/.terraform/

*.tfstate

*.tfstate.*

*.tfplan

tfplan

plan.txt

.terraform.lock.hcl
